@using Webmedicas.Models;
@{
    ViewBag.Title = "EditarMedico";
    var Rmedico = (ViewBag.Medico == null) ? new MedicoDTO() : (MedicoDTO)ViewBag.Medico;
    //var paciente = (Session["DataMedicos"] == null) ? new MedicoDTO() : (MedicoDTO)Session["DataMedicos"];
}


<div style="font-family: 'Verdana';">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="col-xs-12 col-md-5">
                <h2>Editar Paciente</h2>
                <ol class="breadcrumb" style="background-color:white">
                    <li><a href="@Url.Action("index", "Home" , new { area="" })">Home</a></li>
                    <li class="active"><strong>Editar</strong></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading h4 " style="margin:0px; " id="Notificacion">
                        Actualizar Medico
                    </div>
                    <div class="panel-body" style="padding-left:0px; padding-right:0px">
                        <div class="col-lg-12">
                            <form id="UpdateMedico">
                                <div class="col-lg-6 text-center">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 text-left">Medico: </label>
                                        <input class="form-control " style="width:100%" type="text" name="NombreMedico" id="NombreMedico" value="@Rmedico.NombreMedico" required>
                                        <input type="hidden" class="form-control" name="IdMedico" id="IdMedico" value="@Rmedico.IdMedico" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 text-left">Especialidad: </label>
                                        <input class="form-control " type="text" name="Especialidad" id="Especialidad" value="@Rmedico.Especialidad" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-5 text-left">Fecha de nacimiento: </label>
                                        <input class="form-control" type="date" name="FechaNacimiento" id="FechaNacimiento" value="@Rmedico.FechaNacimiento.ToString("yyyy-MM-dd")" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 text-left">Genero: </label>
                                        <input class="form-control " type="text" name="Sexo" id="Sexo" value="@Rmedico.Sexo" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 text-left">Colegiado: </label>
                                        <input class="form-control " type="text" name="Colegiado" id="Colegiado" value="@Rmedico.Colegiado" required>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" onclick="ActualizarMedico(event)" class="btn btn-primary">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-12">
            <div class="row">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group pull-right">                        
                        <a class="btn btn-default" href="@Url.Action("ListMedicos", "ControlMedicos",new { })"> Lista de Medicos</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script type="text/javascript">

    function mapearCamposJson(form) {

        var result = {};

        $.map($(form).serializeArray(),
            function (el) {
                mapFormProperty(result, el);
            });
        return result;
    }
    function mapFormProperty(form, property) {
        form[property.name] = property.value;
    }

    function ActualizarMedico(evt) {

        evt.preventDefault();

        var NewObject = mapearCamposJson($('#UpdateMedico'));
        console.info(NewObject);

         $.ajax({
            url: '@Url.Action("ActualizarMedico", "ControlMedicos", new { })',
            data: { "act": JSON.stringify(NewObject) },
            type: "POST",
            dataType: "json",
             success: function (result) {
                 console.log(result);
                 if (result.Success === true) {
                     toastr.success(result.Message);
                     window.location.reload();
                 } else {
                     $("#Notificacion").html("Registro Actualizado");
                     $("#Notificacion").css('background-color', '#00c206');
                     //toastr.warning('Alerta:'+result.Message);
                     return;
                 }
            },
             error: function (jqXHR, textStatus, error) {
                 $("#Notificacion").html("No Actualizado");
                 $("#Notificacion").css('background-color', '#FF4000');
                 //alert("Lo sentimos ocurrio una excepcion");
                //console.log(error + ":" + textStatus + ":" + jqXHR.responseText);
            }
         });

        return;


    }
</script>