@using Webmedicas.Models;
@{
    ViewBag.Title = "EditarMedico";
    var Rmedico = (ViewBag.Medico == null) ? new MedicoDTO() : (MedicoDTO)ViewBag.Medico;
    //var paciente = (Session["DataMedicos"] == null) ? new MedicoDTO() : (MedicoDTO)Session["DataMedicos"];
}


<div style="font-family: 'Verdana';">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="@Url.Action("index", "Home" , new { area="" })">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> <strong>Editar Medico</strong> </li>
        </ol>
    </nav>

    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header" style="margin:0px; " id="Notificacion">
                        Editar Medico
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <form class="form-row" id="UpdateMedico">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Medico: </label>
                                        <input class="form-control col" style="width:100%" type="text" name="NombreMedico" id="NombreMedico" value="@Rmedico.NombreMedico" required>
                                        <input type="hidden" class="form-control" name="IdMedico" id="IdMedico" value="@Rmedico.IdMedico" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Especialidad: </label>
                                        <input class="form-control col" type="text" name="Especialidad" id="Especialidad" value="@Rmedico.Especialidad" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Fecha de nacimiento: </label>
                                        <input class="form-control col" type="date" name="FechaNacimiento" id="FechaNacimiento" value="@Rmedico.FechaNacimiento.ToString("yyyy-MM-dd")" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Genero: </label>
                                        <input class="form-control col" type="text" name="Sexo" id="Sexo" value="@Rmedico.Sexo" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Colegiado: </label>
                                        <input class="form-control col" type="text" name="Colegiado" id="Colegiado" value="@Rmedico.Colegiado" required>
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <button type="submit" onclick="ActualizarMedico(event)" class="btn btn-primary">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:25px">
            <div class="col-lg-12 text-right">
                <div class="btn-toolbar" role="toolbar">
                    <div class="col-lg-12 text-right">
                        <div class="btn-group">
                            <a class="btn btn-outline-dark " href="@Url.Action("ListMedicos", "ControlMedicos",new { })">
                                <i class="fa fa-user-md fa-lg" aria-hidden="true"></i>
                                Lista de Medicos
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
    <script type="text/javascript">

        function mapearCamposJson(form) {

        var result = {};

        $.map($(form).serializeArray(),
            function (el) {
                mapFormProperty(result, el);
            });
        return result;
        }

        function mapFormProperty(form, property) {
        form[property.name] = property.value;
    }

        function ActualizarMedico(evt) {

        evt.preventDefault();

        var NewObject = mapearCamposJson($('#UpdateMedico'));
        console.info(NewObject);

         $.ajax({
            url: '@Url.Action("ActualizarMedico", "ControlMedicos", new { })',
            data: { "act": JSON.stringify(NewObject) },
            type: "POST",
            dataType: "json",
             success: function (result) {
                 console.log(result);
                 if (result.Success === true) {
                     toastr.success(result.Message);
                     window.location.reload();
                 } else {
                     $("#Notificacion").html("Registro Actualizado");
                     $("#Notificacion").css('background-color', '#00c206');
                     //toastr.warning('Alerta:'+result.Message);
                     return;
                 }
            },
             error: function (jqXHR, textStatus, error) {
                 $("#Notificacion").html("No Actualizado");
                 $("#Notificacion").css('background-color', '#FF4000');
                 //alert("Lo sentimos ocurrio una excepcion");
                //console.log(error + ":" + textStatus + ":" + jqXHR.responseText);
            }
         });

        return;


        }

        $(document).ready(function () {

            if ('@TempData["Error"]' == "Si") {
                swal({
                    title: "",
                    text: "  @TempData["Mensaje"]",
                    type: "error",
                });
            }

            if ('@TempData["Confirm"]' == "Si") {
                swal({
                    title: "",
                    text: '@TempData["Mensaje"]' + '\n' + '@TempData["MensajeAux"]',
                    type: "success"
                });
            }

        });

    </script>
