@using Webmedicas.Models;
@{
    ViewBag.Title = "ListMedicos";
    int contador = 1;
    IList<MedicoDTO> Medico = (IList<MedicoDTO>)ViewBag.Medicos;
    //var paciente = (PacienteDTO)Session["DataPaciente"];
    var paciente = (Session["DataMedicos"] == null) ? new MedicoDTO() : (MedicoDTO)Session["DataMedicos"];
}

<div style="font-family: 'Verdana';">
    @*<h2>Registro de Medicos</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="@Url.Action("index", "Home" , new { area="" })">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Medicos</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-light mb-3">
                        Crear Medico
                    </div>
                    <div class="card-body">

                        <form class="form-row" action="@Url.Action("CrearRegistroMedico", "ControlMedicos")" method="post">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Medico: </label>
                                    <input class="form-control col" style="width:100%" type="text" name="NombreMedico" id="NombreMedico" value="@paciente.NombreMedico" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Especialidad: </label>
                                    <input class="form-control col" style="width:100%" type="text" name="Especialidad" id="Especialidad" value="@paciente.Especialidad" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Fecha de nacimiento: </label>
                                    <input class="form-control col" type="date" name="FechaNacimiento" id="FechaNacimiento" value="" placeholder="Fecha de nacimiento" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Genero: </label>
                                    <input class="form-control col" type="text" name="Sexo" id="Sexo" value="@paciente.Sexo" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Es Colegiado: </label>
                                    <input class="form-control col" type="text" name="Colegiado" id="Colegiado" value="@paciente.Colegiado" required>
                                </div>
                            </div>
                            <div class=" col-lg-12 text-right">
                                <button class="btn btn-outline-info" type="submit" id="Crear" name="Crear">
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i> Crear
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 25px">
            <div class="col-lg-12 table-responsive-sm">
                <table class="table table-bordered table-hover table-striped table-sm ">
                    <thead>
                        <tr class="btn-primary">
                            <th style="text-align:center">#</th>
                            <th style="text-align:center">Código</th>
                            <th>Médicos</th>
                            <th>Colegiado</th>
                            <th>Especialidad</th>
                            <th>Fecha de nacimiento</th>
                            <th>Género</th>
                            <th style="text-align:center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Medico)
                        {
                            <tr>
                                <td style="text-align:center">@contador</td>
                                <td>@c.IdMedico</td>
                                <td>@c.NombreMedico</td>
                                <td>@c.Colegiado</td>
                                <td>@c.Especialidad</td>
                                <td>@c.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                                <td>@c.Sexo</td>
                                <td style="text-align:center">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-secondary btn-xs" href="@Url.Action("EditarMedico","ControlMedicos",new {  id=c.IdMedico})" data-toggle="tooltip" data-placement="top" title="Editar">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-outline-secondary btn-xs" href="@Url.Action("ListCitasPorMedico","CitasMedicas",new {  id=c.IdMedico})" data-toggle="tooltip" data-placement="top" title="Lista de Pacientes">
                                            <i class="fa fa-tasks" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-outline-secondary btn-xs" href="@Url.Action("InactivarMedico","ControlMedicos",new {  id=c.IdMedico})" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            contador++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            if ('@TempData["Error"]' == "Si") {
                swal({
                    title: "",
                    text: "  @TempData["Mensaje"]",
                    type: "error",
                });
            }

            if ('@TempData["Confirm"]' == "Si") {
                swal({
                    title: "",
                    text: '@TempData["Mensaje"]' + '\n' + '@TempData["MensajeAux"]',
                    type: "success"
                });
            }

            $('.dataTables-example').dataTable({
                "pageLength": 5,
                "lengthMenu": [[5, 10, 25, 50, 75, 100, -1], [5, 10, 25, 50, 75, 100, "Todas"]],
                "scrollX": true,
                "language": {
                    "lengthMenu": "Desplegar _MENU_ líneas por página",
                    "info": "Mostrando _PAGE_ de _PAGES_",
                    "zeroRecords": "No hay alguna coincidencia",
                    "infoFiltered": "(Filtrado de _MAX_ registros)",
                    "infoEmpty": "No hay registros",
                    "search": "Buscar:",
                    "oPaginate": {
                        "sPrevious": "Anterior",
                        "sNext": "Siguiente"
                    },
                },
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '8px');
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    },
                ]
            });

        });

    </script>

}
